<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Studio's Classe's</title>
    
    style
      
      include ../static/classes.css 
</head>
<body>
    <nav>
        <li class="nav"><a href="/">Home</a></li>
        <li class="nav"><a href="/about">About US</a></li>
        <li class="nav"><a href="/classes">Classe's</a></li>
        <li class="nav"><a href="/schedules">Schedule's</a></li>
        <li class="nav"><a href="/contactus">Contact Us</a></li>
    </nav>
    <div class="container"> 
        <span id="b">
            <h2 id="a">The Classes</h2>
            <br>
            <br>
            <mark>We offer a wide range of classes for a wide range
                of age groups, fitness goals and experience levels.
                At Bells, there's fitness for everyone.</mark>
        </span>
        <div id="d">
            <img src="https://bellsgym.co.uk/wp-content/uploads/2021/04/New-wesbite-Desktop-design-26.png" alt="gym image 1" height="100%"width="48%">
        <span id="c">
            <h2 class="two"id="a1">Box Circuit's</h2>
            <br>
            <br>
            <p>Our most popular class combining strength, CV fitness and Boxing. Aimed at both Male & Female, this intense workout consists of Padwork, Skipping, Upper/Lower body circuit, Abs and Bagwork which will improve strength, speed, agility, coordination and aid weight loss (up to 500 calories per sec)</p>
            <br>
            <br>
            <br>
            <h3 class="two">Class price</h3>
            <div>£12 Drop in / 1 class credit</div>
            <br>
            <h3>Class Time's</h3>
            <div>
                <ul>
                <li>Monday-18:00-19:00</li>
                <li>Tuesday-18:00-19:00</li>
                <li>Thursday-18:00-19:00</li>
                </ul>
            </div>
        </span>
        
        </div>
    </div>
</body>
</html>